*.pyc
*~
*.kate-swp
env.d
dev.db
export
res
media/*
local_settings.py
all-static/
build/
.idea/
*_flymake.py
s3-cache
postgresql-9.1-901.jdbc4.jar
*.swp
*.swa
*.swo
*.swn
*.swm
*.pid
pip-delete-this-directory.txt
celerybeat-schedule
\#*\#
\.\#*