/* Websocket-based Drawing App
   Written by: Bill Healey
*/

body {
    background: white;
    margin: 10px;
    font-family: sans-serif;
    font-size: 10pt;
}

/* *************************
   Display specific
   *************************/
#display {
    display: none;
}

#canvas {
    background-color: black;
}

#cursor {
    background-color: yellow;
    width: 3px;
    height: 3px;
    position: absolute;
}

/* *************************
   Controller specific
   *************************/
#controller {
    display: none;
}

#inbox {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#inbox .message {
    padding-top: 0.25em;
}
