<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Webdraw</title>
    <link rel="stylesheet" href="{{ static_url("webdraw.css") }}" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ static_url("webdraw.js") }}" type="text/javascript"></script>
  </head>
  <body>
    <div id="display">
        <canvas id="canvas" width=1000 height=1000></canvas>
        <div id="cursor"></div>
    </div>
    <div id="controller">
        <div id="inbox">
          {% for message in messages %}
            {% include "message.html" %}
          {% end %}
        </div>
    </div>
  </body>
</html>
